{% extends 'base.html.twig' %}

{% block title %} Hello ReactController!
{% endblock %}

{% block body %}
    <div>
        <h1>yo</h1>
        <div>
            <div class="text-center">
                hu<div data-controller="symfony--ux-react--react" data-symfony--ux-react--react-component-value="MyComponent"></div>
            </div>
        </div>
    </div>
{% endblock %}