{% extends 'menu.html.twig' %}

{% block title %} Hello ReactController!
{% endblock %}

{% block body %}

    <div class="different-championnats">
        <a href="/classement/1"><img src="https://ligue1.fr/images/Logo_Ligue_1.png" alt="Ligue 1"></a>
        <a href="/classement/4"><img src="https://ligue1.fr/images/Logo_Ligue_2.png" alt="Ligue 2"></a>
        <a href="/classement/6"><img src="https://ligue1.fr/images/Logo_champions_league.png" alt="Champions League"></a>
        <a href="/classement/13"><img src="https://ligue1.fr/images/Logo_europa_league.png" alt="Europa League"></a>
    </div>

    <h1 class="titre">Classement de la Champions League (J{{ gameweek }})</h1>

    <div id="app">
        <h2>Équipes</h2>
        <div id="classement">
            <div id="barTop">
                <div class="evolution"><p>-</p></div>
                <div class="club-info top-bar">
                    <div class="rank">#</div>
                    Clubs
                </div>
                <div class="points-info top-bar">
                    <p>J</p>
                    <p>pts</p>
                    <p>G</p>
                    <p>N</p>
                    <p>P</p>
                    <p>But +</p>
                    <p>But -</p>
                    <p>Diff</p>
                </div>
                <div class="recent-results top-bar">
                    <p>Forme</p>
                </div>
            </div>
            <div class="clubs" data-id-championnat="{{ idChampionnat }}" data-id-gameweek="{{ gameweek }}"></div>
        </div>
    </div>
{% endblock %}
