#clubs{
    width: 50rem;
}


#barTop{
    display: flex;
    padding: 0.2rem;
    border-bottom: 1px solid #ddd;
    align-items: stretch;
}

.top-bar{
    font-size: 12px;
    font-weight: bold;
    display: flex;
    align-items: center;
}


#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.team-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    padding: 0.2rem;
    border-bottom: 1px solid #ddd;
}

.club-info {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 40%;
}

.rank {
    font-weight: bold;
    width: 2rem;
    text-align: center;
}

.logo {
    width: 2rem;
    height: 2rem;
}

.team-name {
    font-size: 1rem;
    color: #333;
}

.points-info {
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.points-info p {
    margin: 0;
    text-align: center;
    width: 3rem;
}

.recent-results {
    display: flex;
    justify-content: center;
    width: 20%;
    gap: 0.5rem;
}

.result-letter {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: relative
}

.red{
    background-color: red;
}

.grey{
    background-color: grey;
}

.green{
    background-color: green;
}

.latch {
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    white-space: nowrap;
}

.result-letter:hover .latch{
    display: block;
}

.journées{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

.reed{
    color: red;
}

.match{
    display: flex;
    align-items: center;
    gap: 0.4rem;
    padding: 15px;
    border-radius: 10px;
}

.journées{
    flex-wrap: wrap;
}

.plus{
    width: 0;
    height: 0;
    border-left: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;
    border-bottom: 0.5rem solid green;
}

.moins{
    width: 0;
    height: 0;
    border-left: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;
    border-top: 0.5rem solid red;
}