#clubs {
    width: 50rem;
}

#barTop {
    display: flex;
    padding: 0.2rem;
    border-bottom: 1px solid #ddd;
    align-items: stretch;
}

.different-championnats {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.different-championnats a {
    display: inline-block;
    padding: 5px;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.different-championnats img {
    width: 80px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: grey;
}

.top-bar {
    font-size: 12px;
    font-weight: bold;
    display: flex;
    align-items: center;
}


#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.team-card {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    padding: 0.2rem;
    border-bottom: 1px solid #ddd;
}

.border-bottom-team-blue {
    border-left: 3px solid blue;
}

.border-bottom-team-orangered {
    border-left: 3px solid orangered;
}

.border-bottom-team-green {
    border-left: 3px solid green;
}

.border-bottom-team-cyan {
    border-left: 3px solid cyan;
}

.border-bottom-team-orange {
    border-left: 3px solid orange;
}

.border-bottom-team-red {
    border-left: 3px solid red;
}

.club-info {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 40%;
}

.rank {
    font-weight: bold;
    width: 2rem;
    text-align: center;
}

.logo {
    width: 2rem;
    height: 2rem;
}

.team-name {
    font-size: 1rem;
}

.points-info {
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.points-info p {
    margin: 0;
    text-align: center;
    width: 3rem;
}

.recent-results {
    display: flex;
    justify-content: center;
    width: 20%;
    gap: 0.5rem;
}

.result-letter {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: relative
}

.red {
    background-color: red;
}

.grey {
    background-color: grey;
}

.green {
    background-color: green;
}

.latch {
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    white-space: nowrap;
}

.result-letter:hover .latch {
    display: block;
}

.journées {
    display: flex;
    flex-wrap: wrap;
    gap: 4.3rem;
    padding: 20px 0;
}

.match {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    padding: 10px;
    border-radius: 10px;
    background-color: #c0bcbc;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.match img.logo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.match.reed {
    color: red;
}

.match .logo {
    display: inline-block;
    width: 30px;
    height: auto;
}

.match:hover {
    background-color: #f0f0f0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.evolution {
    height: 100%;
    width: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.1rem;
}

.plus {
    width: 0;
    height: 0;
    border-left: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;
    border-bottom: 0.5rem solid green;
}

.moins {
    width: 0;
    height: 0;
    border-left: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;
    border-top: 0.5rem solid red;
}

.places_prises {
    font-size: 12px;
}

.titre {
    text-align: center;
}

.custom-select {
    position: relative;
    width: 200px;
    font-family: Arial, sans-serif;
}




.selected-option {
    background-color: #f0f0f0;
    padding: 10px;
    cursor: pointer;
    border: 1px solid #ccc;
}

.options-list {
    display: none;
    position: absolute;
    top: 40px;
    /* Just below the selected option */
    left: 0;
    width: 100%;
    max-height: 200px;
    /* Limite la hauteur de la liste */
    overflow-y: auto;
    /* Ajoute une barre de défilement */
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0;
    padding: 0;
    list-style: none;
}

.option {
    padding: 10px;
    cursor: pointer;
}

.option:hover {
    background-color: #f0f0f0;
}

.custom-select.open .options-list {
    display: block;
}