#clubs {
    width: 50rem;
}

#barTop {
    display: flex;
    padding: 0.2rem;
    border-bottom: 1px solid #ddd;
    align-items: stretch;
}

.different-championnats {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.different-championnats a {
    display: inline-block;
    padding: 5px;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.different-championnats img {
    width: 80px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: grey;
}

.top-bar {
    font-size: 12px;
    font-weight: bold;
    display: flex;
    align-items: center;
}


#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.team-card {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    padding: 0.2rem;
    border-bottom: 1px solid #ddd;
}

.border-bottom-team-blue {
    border-left: 3px solid blue;
}

.border-bottom-team-orangered {
    border-left: 3px solid orangered;
}

.border-bottom-team-green {
    border-left: 3px solid green;
}

.border-bottom-team-cyan {
    border-left: 3px solid cyan;
}

.border-bottom-team-orange {
    border-left: 3px solid orange;
}

.border-bottom-team-red {
    border-left: 3px solid red;
}

.club-info {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 40%;
}

.rank {
    font-weight: bold;
    width: 2rem;
    text-align: center;
}

.logo {
    width: 2rem;
    height: 2rem;
}

.team-name {
    font-size: 1rem;
}

.points-info {
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.points-info p {
    margin: 0;
    text-align: center;
    width: 3rem;
}

.recent-results {
    display: flex;
    justify-content: center;
    width: 20%;
    gap: 0.5rem;
}

.result-letter {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: relative
}

.red {
    background-color: red;
}

.grey {
    background-color: grey;
}

.green {
    background-color: green;
}

.latch {
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    white-space: nowrap;
}

.result-letter:hover .latch {
    display: block;
}

/**.matchs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
}**/

.a-match{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.match {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.4rem;
    padding: 10px;
    width: 27rem;
    background-color: rgb(225, 219, 219);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.matches {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    gap: 20px;
}

.match-list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.date {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.date::before,
.date::after {
    content: "";
    flex: 1;
    height: 1px;
    background-color: black;
    margin: 0 10px;
}

.match-list-content {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    /* justify-content: center; */
    align-content: flex-start;
    gap: 40px;
    margin-left: 55px;
}

.match {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 23px;
    width: 25rem;
    background-color: rgb(225, 219, 219);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    gap: 0.5rem;
}

.name-team {
    flex: 1;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.image-team {
    flex: 0 0 auto;
    width: 40px;
    height: 40px;
}

.image-team .logo {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.score-team {
    position: relative;
    flex: 0 0 60px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: rgb(179, 174, 174);
    padding: 5px;
}

.score-team.reed {
    color: red;
    border: 2px solid red;
}

.match-time {
    position: absolute;
    bottom: -19px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.8rem;
    width: 100%;
}

.evolution {
    height: 100%;
    width: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.1rem;
}

.plus {
    width: 0;
    height: 0;
    border-left: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;
    border-bottom: 0.5rem solid green;
}

.moins {
    width: 0;
    height: 0;
    border-left: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;
    border-top: 0.5rem solid red;
}

.places_prises {
    font-size: 12px;
}

.titre {
    text-align: center;
}


.top-selected-option {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}

.top-selected-option-content {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 20rem;
    min-width: max-content;
    background-color: rgb(225, 219, 219);
    padding: 10px;
    position: relative;
}

.arrows {
    background-color: rgb(179, 174, 174);
    padding: 10px;
    text-decoration: none;
    color: inherit;
}

.arrows:visited {
    color: inherit;
}

.custom-select {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    font-family: Arial, sans-serif;
}

.selected-option {
    display: flex;
    padding: 10px;
    cursor: pointer;
    gap: 1rem;
}

.options-list {
    display: none;
    position: absolute;
    top: 60px;
    width: 20rem;
    max-height: 200px;
    padding: 10px;
    background-color: rgb(225, 219, 219);
    border: 1px solid #ccc;
    list-style: none;
    z-index: 99;
    overflow-y: auto;
}

.option {
    list-style: none;
    padding: 10px;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: inherit;
}

.option:hover {
    background-color: #f0f0f0;
}

.custom-select.open .options-list {
    display: block;
}