{% extends 'base.html.twig' %}

{% block header %}

<header id="navbar">
    <div class="container">
        <a href="/home" class="logo">Accueil</a>
        <ul class="nav-links">
            <li><a href="/classement/{{ idChampionnat }}">Classement</a></li>
            <li><a href="/journee/{{ idChampionnat }}/{{ gameweek }}">Journées</a></li>
        </ul>
    </div>
</header>

{% block body %}{% endblock %}

{% endblock %}